
  <div class='navbar__site-name'>
    <a href='/' style="cursor: pointer">Just A Bites!</a>
  </div>
  <div>
  <ul class='navbar__list'>
    <li class='active'><a href='/lottery-pull'>抽個大獎</a></li>
    <li><a href='/menu'>我要點餐</a></li>
    <li><a href='#'>查詢訂單</a></li>
    <li><a href='/question-answer'>常見問題</a></li>
     <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          管理後台
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/dishes-management-page">菜單管理</a>
          <a class="dropdown-item" href="/qustion-answer-management-page">常見問題管理</a>
          <a class="dropdown-item" href="/lottery-management-page">抽獎管理</a>
        </div>
      </div>
  </ul>
  </div>  