
<div class='wrapper'>
  <div class='navbar__site-name'>
    <a href='/' style="cursor: pointer">Just A Bites!</a>
  </div>
  <div>
  <ul class='navbar__list'>
    <li class='active'><a href='/front_pull'>抽個大獎</a></li>
    <li><a href='#'>我要點餐</a></li>
    <li><a href='#'>查詢訂單</a></li>
    <li><a href='/QA'>常見問題</a></li>
    <li><a href='/post'>管理後台</a></li>
  </ul>
  </div>  
</div>