<!DOCTYPE html>

<html>
<head>
  <%- include('./template/head') %>
  <link rel='stylesheet' href='css/style_QA.css'/>
</head>
<body>
  <nav class='navbar'>
    <%- include('./template/nav') %>
  </nav>

  <div class='title'>
    FAQ - 常見問題
  </div>

  <div class='ques' id='Q1'>
    <div class='ques__indent'>
      <h2 class='ques__title'>
        請問用餐需要事先訂位嗎？
      </h2>
      <p class='ques__content hidden' id='C1'>
        為了滿足顧客多方面的需求，並將訂位服務做到最好，我們開放一個月內的訂位，建議您可以直接撥打各分店服務專線，越早預約越有機會選擇您想要的用餐時間喔！各分店預約訂位專線詳見『門市據點一覽表』 (特殊節日開放訂位時間會另行公佈)
      </p>
    </div>
    <h2 class='ques__number'>
      Q1:
    </h2>
    <div class='ques__buttom'></div>
  </div>

  <div class='ques' id='Q2'>
    <div class='ques__indent'>
      <h2 class='ques__title'>
        請問過年有營業嗎？
      </h2>
      <p class='ques__content hidden' id='C2'>
        只有除夕當天的時間會另行發佈於官網，其餘時間都正常營業。
      </p>
    </div>
    <h2 class='ques__number'>
      Q2:
    </h2>
    <div class='ques__buttom'></div>
  </div>

  <div class='ques' id='Q3'>
    <div class='ques__indent'>
      <h2 class='ques__title'>
        請問有附設停車場嗎？
      </h2>
      <p class='ques__content hidden' id='C3'>
        目前大部分店家都位於百貨或商場內，皆有附設停車場，也建議搭乘大眾交通運輸工具前往。
      </p>
    </div>
    <h2 class='ques__number'>
      Q3:
    </h2>
    <div class='ques__buttom'></div>
  </div>

  <div class='ques' id='Q4'>
    <div class='ques__indent'>
      <h2 class='ques__title'>
        請問餐廳內有設立吸煙區嗎？
      </h2>
      <p class='ques__content hidden' id='C4'>
        餐廳皆為開放式空間，未提供吸煙區座位。
      </p>
    </div>
    <h2 class='ques__number'>
      Q4:
    </h2>
    <div class='ques__buttom'></div>
  </div>

  <div class='ques' id='Q5'>
    <div class='ques__indent'>
      <h2 class='ques__title'>
        請問有提供娃娃的座椅嗎？
      </h2>
      <p class='ques__content hidden' id='C5'>
        全台Mr.Onion天蔥牛排都有特別為小朋友準備娃娃專用座椅，如果有需要可向服務人員告知。
      </p>
    </div>
    <h2 class='ques__number'>
      Q5:
    </h2>
    <div class='ques__buttom'></div>
  </div>

  <footer class='footer'>
    <%- include('./template/footer') %>
  </footer>

  <script>
    const clickon = (Q,C) => {
      let ques = document.querySelector(Q)
      let content = document.querySelector(C)
      ques.addEventListener('click', function() {
        if (content.getAttribute('class') === 'ques__content hidden') {
          content.classList.remove('hidden')
        } else {
          content.classList.add('hidden')
        }
      })
    }
    clickon('#Q1','#C1')
    clickon('#Q2','#C2')
    clickon('#Q3','#C3')
    clickon('#Q4','#C4')
    clickon('#Q5','#C5')
  </script>
</body>
</html>